/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light blue color */
    color: #333; /* Dark gray color */
    margin: 120px; /* Add a margin to create a gutter on each side */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #343a40; /* Light blue color for the heading */
}

h2 {
    color: #7E8E9E;
}

h3 {
    color: #7E8E9E;
}

p {
    line-height: 1.6;
    color: #7E8E9E;
}


#skill-text {
    font-size: 16px;
    height: 150px;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

#skill-text.expanded {
        height: auto;
		font-size: 16px;
		transition: height 1s ease-in-out;
}

.collapsing {
    opacity: 1;
}

.line {
    border-top: 5px solid #17a2b8;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #0066cc;
}

.skills-section {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content:start;
}

.skill-box {
    width: fit-content; /* Adjust the width as needed */
    height: fit-content;
    border: 2px solid #17a2b8;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

.skill-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.skill-name {
    font-weight: bold;
    color:#7E8E9E ;
    font-size: 12px;
}

.read-more-button {
    color: gray;
    box-sizing: border-box;
    border-radius: 10px;
    
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666; /* Gray color for footer text */
}
